@import "../../assets/styles/Variables.scss";

.page-wrapper {
    overflow: hidden;
    &.agenda {
        overflow: hidden;
        max-width: 100%;
        min-height: 100vh;
        height: auto;
        position: relative;

        .agenda-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            gap: $size-large;
            text-transform: uppercase;
            background-color: $color_white_100;
            border: 1px solid $color_black_25;
            padding: 10px;
            border-radius: $size-small;
            width: 100%;
            .ReactSwipe {
                overflow: hidden;
                max-width: 100%;
            }

            .days-grid {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                gap: $size-small;
                width: 100%;

                .day {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    height: 50px;
                    width: 100%;
                    background-color: $color_black_10;
                    border-radius: $size-small;
                    gap: $size-small;

                    &.today {
                        background-color: $color_blue_100;
                        color: $color_white_100;

                        &.has-course .dot {
                            background-color: $color_white_100;
                        }
                    }

                    &.has-course .dot {
                        height: $size-extra-small;
                        width: $size-extra-small;
                        background-color: $color_blue_100;
                        display: inline-block;
                        border-radius: $br-50;
                    }

                    &.selected-day {
                        background-color: $color_blue_100;
                        color: $color_white_100;

                        .dot {
                            background-color: $color_white_100;
                        }
                    }
                }
            }
        }
    }
}
