@import "../../assets/styles/Variables.scss";

.calendrier {
    .react-calendar {
        width: 100%;
        max-width: 100%;
        background: none;
        border: 1px solid $color_black_10;
        font-family: $font;
        line-height: 1.125em;
        border-radius: 10px;
        .react-calendar button {
            transition: all 0.3s;
        }
        .react-calendar__tile--active {
            background-color: $color_blue_100;
        }
        .react-calendar__tile--now {
            background: none;
            position: relative;
            color: $color_black_100;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 5px;
                height: 5px;
                background-color: $color_blue_100;
                border-radius: 50%;
            }
            &:hover {
                color: $color_white_100;
            }
        }
        .react-calendar__tile {
            transition: all 0.3s;
            border-radius: 10px;
        }
        .react-calendar__tile--active:enabled:hover,
        .react-calendar__tile--active:enabled:focus {
            background-color: $color_blue_100;
            border-radius: 10px;
        }
    }
}

.ReactModalPortal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color_white_100;
    z-index: 9999;
    padding: 20px;
    width: 30vw;
    border-radius: 10px;
    border: 1px solid $color_black_10;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    .ReactModal__Content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h2 {
            font-size: 1.25rem;
            font-weight: 500;
        }
        p {
            font-weight: 500;
            color: $color_black_70;
        }
        button {
            border: 1px solid;
            padding: 4px 8px;
            background-color: $color_black_100;
            color: $color_white_100;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
                background-color: transparent;
                border-color: $color_black_100;
                color: $color_black_100;
            }
        }
    }
}
