@import "../../assets/styles/Variables.scss";

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $size-medium;
    .form-group {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: $size-small;
        input {
            width: 100%;
            border: none;
            background-color: rgba(234, 235, 236, 1);
            border-radius: $size-small;
            padding: $size-medium $size-medium-large;
        }
        select {
            width: 100%;
            border-radius: $size-small;
            background-color: rgba(234, 235, 236, 1);
            padding: $size-medium $size-medium-large;
        }
        input[type="checkbox"] {
            width: fit-content;
        }
    }
    button {
        width: 100%;
        border: 1px solid $color_black_25;
        border-radius: $size-small;
        padding: $size-medium $size-medium-large;
        font-weight: bold;
    }
}
