@import "../../assets/styles/Variables.scss";

.accueil {
    .accueil-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: $size-medium-large;
        width: 100%;
        .accueil-date {
            font-size: 3rem;
            font-weight: bold;
            letter-spacing: 2px;
        }
        .accueil-date-nom {
            font-size: 24px;
            font-weight: 300;
        }
        h2 {
            font-size: 24px;
            font-weight: 500;
        }
        .meteo-wrapper {
            background-color: $color_white_100;
            border: 1px solid $color_black_10;
            border-radius: $size-small;
            padding: $size-medium-large;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .meteo-infos {
                display: flex;
                flex-direction: column;
                gap: 14px;
                h2 {
                    font-size: 16px;
                    font-weight: 500;
                    color: $color_black_75;
                }
                span {
                    font-size: 2.5rem;
                }
                .meteo-location {
                    display: flex;
                    flex-direction: column;
                    gap: $size-small;
                    h3 {
                        font-size: 14px;
                        color: $color_black_75;
                    }
                    p {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
            }
            .meteo-soleil {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: $size-small;
                padding-left: $size-medium-large;
                border-left: 1px solid $color_black_10;
                .meteo-content {
                    display: flex;
                    align-items: flex-end;
                    flex-direction: column;
                    gap: $size-small;
                    h3 {
                        font-size: 14px;
                        color: $color_black_75;
                    }
                    p {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
            }
        }
        .calendar-wrapper {
            display: flex;
            flex-direction: column;
            gap: $size-medium;
            .cours-absent {
                background-color: $color_black_10;
                padding: $size-small;
                border-radius: $size-small;
                border: 1px solid $color_black_25;
                text-align: center;
            }
        }
    }
}
