@import "../../../sass/variables";

.page-wrapper.agenda {
    overflow: hidden;
    max-width: 100vw; // Exemple pour limiter la largeur
    max-height: 100vh; // Exemple pour limiter la hauteur
    position: relative;
    .agenda-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        gap: 20px;
        text-transform: uppercase;

        .days-grid {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 8px;
            width: 100%;
        }

        .day {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 50px;
            width: 100%;
            background-color: $color_black_10;
            border-radius: 8px;
            gap: 8px;
        }
    }
}

.agenda-wrapper .days-grid .day.today {
    background-color: $color_blue;
    color: $color_white_100;
}

.agenda-wrapper .days-grid .day.has-course .dot {
    height: 5px;
    width: 5px;
    background-color: $color_orange;
    display: inline-block;
    border-radius: 50%;
}

.selected-day-courses {
    margin-top: 20px;
}