@import "../../../sass/variables";

.calendrier {
    .date-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .date-element {
            font-weight: 600;
            padding: 10px 12px;
            border-radius: 10px;
            background-color: transparent;
            color: $color_black_100;
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
        }
        .selected {
            background-color: $color_blue;
            color: $color_white_100;
        }
    }
    .calendar-wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }
}
