@import "../../assets/styles/Variables.scss";

.search-wrapper {
    display: flex;
    align-items: center;
    gap: $size-small;
    align-self: stretch;
    .input-wrapper {
        display: flex;
        padding: $size-medium;
        height: 40px;
        align-items: center;
        gap: 6px;
        width: 100%;
        align-self: stretch;
        border-radius: $size-small;
        border: 1px solid $color_black_10;
        background-color: $color_white_100;
        position: relative;
        input {
            padding-left: 24px;
            color: $color_black_50;
            font-family: $font;
            font-size: 0.875rem;
            border: none;
        }
        &::before {
            content: "";
            position: absolute;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            left: $size-medium;
            top: 50%;
            width: 15px;
            height: 15px;
            background: url("../../assets/icons/phosphor/search.svg") no-repeat;
            background-size: contain;
        }
    }
    .filter-wrapper {
        display: flex;
        width: 40px;
        height: 40px;
        padding: $size-extra-small 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: $size-small;
        border: 1px solid $color_black_10;
        background-color: $color_white_100;
        svg {
            color: $color_black_25;
        }
    }
}
