@import "../../assets/styles/Variables.scss";

.agendaUnique {
    width: 100%;
    padding: $size-large $size-large 0 $size-large;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $size-large;
    .agendaUniqueHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .agendaUniqueHeaderLeft {
            display: flex;
            align-items: center;
            gap: $size-medium;
            h1 {
                font-size: 1.625rem;
            }
        }
        .agendaNavigation,
        .agendaActions {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            border: none;
            background-color: transparent;
        }
    }
    .noEvents {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: $size-small;
        p {
            text-align: center;
            font-size: 1.25rem;
            font-family: $font-title;
            color: $color_blue_100;
        }
    }
}
