@import "../../assets/styles/Variables.scss";

.agendaAdminWrapper {
    width: 100%;
    padding: $size-large $size-large 0 $size-large;
    display: flex;
    flex-direction: column;
    gap: $size-large;
    h1 {
        color: $color_blue_100;
    }
    .agenda_chip_container {
        display: flex;
        flex-direction: column;
        gap: $size-large;
        width: 100%;
        .agenda_chip {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            border-radius: $size-medium-large;
        }
    }
}
