@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color_dark: #0C0C0C;
$color_white: #FAFAFA;
$color_blue: #5BC0BE;
$color_yellow: #FFCD2E;
$color_puple: #8155FF;
$color_pink: #F72B61;
$color_green: #7DAE7A;
$color_orange: #E5511F;

$font: "Poppins", sans-serif;
