@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rowdies:wght@300;400;700&display=swap');

$color_black_100: rgba(12, 12, 12, 1);
$color_black_70: rgba(12, 12, 12, 0.7);
$color_black_50: rgba(12, 12, 12, 0.5);
$color_black_25: rgba(12, 12, 12, 0.25);
$color_black_10: rgba(12, 12, 12, 0.1);
$color_white_100: rgba(250, 250, 250, 1);
$color_white_25: rgba(250, 250, 250, 0.25);
$color_blue: #5bc0be;
$color_blue_light: #84d2d0;
$color_yellow: #ffcd2e;
$color_purple: #8155ff;
$color_pink: #fb4a5f;
$color_pink_light: #fc7a89;
$color_green: #D9FFD8;
$color_orange: #ff7648;
$color_orange_light: #ff9872;

$font: "Poppins", sans-serif;
$font-title: "Righteous", sans-serif;

:root {
    --color-white: #{$color_white_100};
    --color-black-25: #{$color_black_25};
    --color-blue: #{$color_blue};
    --color-blue-light: #{$color_blue_light};
    --color-orange: #{$color_orange};
    --color-orange-light: #{$color_orange_light};
    --color-green: #{$color_green};
    --color-pink: #{$color_pink};
    --color-pink-light: #{$color_pink_light};
}
