@import "../../../assets/styles/Variables";
#detail-message {
    .message-head {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: var(--color-white);
        padding: 40px 24px 12px 24px;
        gap: 16px;
        align-items: center;
        .rce-avatar-container {
            img {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        .message-head-details {
            h2 {
                margin: 0 0 4px 0;
                font-size: 18px;
            }
            p {
                font-size: 14px;
                color: $color_black_50;
            }
        }
    }
    .MessageList {
        margin: 62px 0 0 0;
    }
    .rce-mbox-file {
        button {
            background: none;
            border: 0;
            font-family: "Poppins", sans-serif;
            padding: 0;
        }
        .rce-mbox-file--buttons {
            display: none;
        }
        .rce-mbox-file--text {
            color: var(--color-white);
            font-size: 14px;
            background: rgb(0, 0, 0, 0.1);
            padding: $size-small $size-small $size-small 32px;
            border-radius: $size-small;
            position: relative;
        }
        .rce-mbox-file--text:before {
            content: "";
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="%23ffffff" viewBox="0 0 256 256"><path d="M224,144v64a8,8,0,0,1-8,8H40a8,8,0,0,1-8-8V144a8,8,0,0,1,16,0v56H208V144a8,8,0,0,1,16,0Zm-101.66,5.66a8,8,0,0,0,11.32,0l40-40a8,8,0,0,0-11.32-11.32L136,124.69V32a8,8,0,0,0-16,0v92.69L93.66,98.34a8,8,0,0,0-11.32,11.32Z"/></svg>');
            display: block;
            width: 18px;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 18px;
            position: absolute;
            background-position: center;
            background-size: cover;
            left: 8px;
        }
        .rce-mbox-file--icon {
            display: none;
        }
    }
    .rce-container-mbox {
        margin: 0 0 15px 0;
    }
    .rce-container-mbox:not(:first-of-type) {
        margin: 15px 0;
    }
    .rce-container-mbox:last-of-type {
        margin: 15px 0 0 0;
    }
    .rce-mbox-photo--img__block {
        display: none;
    }
    .rce-mbox-text,
    .rce-mbox-photo,
    .rce-mbox-file {
        border-radius: $size-medium-large;
        padding: $size-small $size-small;
        width: fit-content;
        max-width: calc(100% - 19px);
        font-size: 14px;
        color: #fff;
    }
    .rce-mbox .rce-mbox-photo,
    .rce-mbox .rce-mbox-file {
        align-self: flex-start;
        border-bottom-left-radius: 5px;
        background: var(--color-blue-100);
        order: 1;
    }
    .rce-mbox-right .rce-mbox-photo,
    .rce-mbox-right .rce-mbox-file {
        align-self: flex-end;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 12px;
        background: $color_blue_100;
        order: 2;
    }
    .rce-mbox-body .rce-mbox-time {
        order: 3;
    }
    .rce-mbox-body {
        display: flex;
        flex-direction: row;
        gap: 4px;
        margin: auto;
        flex-wrap: wrap;
        align-items: flex-end;
        .rce-mbox-photo {
            .rce-mbox-text {
                padding: 0;
            }
        }
        .rce-mbox-title {
            width: 100%;
            span {
                font-size: 12px;
                color: #000;
            }
        }
        .rce-mbox-photo--img {
            img {
                height: fit-content;
                width: 100%;
                max-width: 50vw;
                max-height: 40vh;
                border-radius: $size-small;
            }
        }
        .rce-mbox-text {
            padding: 8px 0;
        }
        .rce-mbox-text.left {
            align-self: flex-start;
            border-bottom-left-radius: 5px;
            background: var(--color-blue-100);
        }
        .rce-mbox-text.right {
            align-self: flex-end;
            border-bottom-right-radius: 5px;
            background: $color_blue_100;
            order: 2;
        }
        .rce-mbox-text.right ~ div,
        .rce-mbox-text.right ~ div > span {
            text-align: right;
        }
        > .rce-mbox-text {
            padding: 12px;
        }
    }
    .rce-mbox-right {
        .rce-mbox-time {
            order: 1;
        }
        .rce-mbox-body {
            justify-content: flex-end;
            .rce-mbox-title {
                text-align: right;
            }
        }
    }
    .chat-bar {
        left: 0;
        right: 0;
        background: #fff;
        bottom: 0;
        padding: 0 24px 12px 24px;
        position: fixed;
        .rce-container-input {
            display: flex;
            align-items: center;
            gap: 4px;
            .rce-input.rce-input-textarea {
                resize: none;
                background-color: rgb(234, 235, 236);
                border-radius: 8px;
                padding: 0.3rem 12px;
                border: 0.5px solid rgba(12, 12, 12, 0.1);
                width: 100%;
                height: 32px;
                color: $color_black_50;

                &::placeholder {
                    color: $color_black_50;
                }
            }
            .rce-input-buttons {
                > div {
                    height: 20px;
                    button {
                        background: none;
                        border: 0;
                        padding: 0;
                        margin: 0;
                        cursor: pointer;
                        height: 20px;
                        position: relative;
                        bottom: 5px;
                        svg {
                            margin: auto;
                            color: $color_black_50;
                        }
                    }
                    #emoji-button {
                        position: absolute;
                        right: 56px;
                        bottom: 18px;
                    }
                }
            }
        }
        .EmojiPickerReact {
            margin: 16px 0;
            width: 100% !important;
        }
        .file-preview.fill {
            padding: 18px 0 12px 0;
        }
        .file-preview {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 12px;
            flex-wrap: wrap;
            padding: 12px 0 0 0;
            > div {
                position: relative;
                > .file-preview-file {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 4px;
                    border: 1px solid #000;
                    border-radius: 8px;
                    padding: 6px 8px 6px 8px;
                    width: calc(100vw - 48px);
                    svg {
                        flex-shrink: 0;
                    }
                    p {
                        font-size: 12px;
                        word-break: break-all;
                    }
                }
                img {
                    max-width: 80px;
                    max-height: 80px;
                    border-radius: 8px;
                }
                .preview-delete {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-color: red;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: -8px;
                    right: -8px;
                }
            }
        }
    }
}
