* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: clamp(0.9375rem, 0.75vw, 1rem);
}

#root {
  width: 100%;
}

body,
button,
input,
textarea {
  font-family: $font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
}

.page-wrapper {
  display: flex;
  padding: $size-large;
  min-height: 100vh;
  overflow-y: scroll;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: $size-large;
  margin-bottom: 30px;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  #calendrier-logo {
    width: 100px;
  }
}
