@import "Variables";

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    min-height: 100vh;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: clamp(0.9375rem, 0.75vw, 1rem);
    font-family: $font;
}

#root {
    width: 100%;
}

.mb {
    margin-bottom: 110px;
}

button,
input,
textarea {
    font-family: $font;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-title;
}

h1 {
    font-size: clamp(2rem, 2.5vw, 3rem);
}

h2 {
    font-size: clamp(1.5rem, 1.875vw, 2.25rem);
}

h3 {
    font-size: clamp(1.25rem, 1.563vw, 1.875rem);
}

h4 {
    font-size: clamp(1.125rem, 1.406vw, 1.688rem);
}

h5 {
    font-size: clamp(1rem, 1.25vw, 1.5rem);
}

h6 {
    font-size: clamp(0.875rem, 1.094vw, 1.313rem);
}

.page-wrapper {
    display: flex;
    padding: $size-large;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: $size-large;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    #calendrier-logo {
        width: 100px;
    }
}

body.no-scroll {
    overflow: hidden;
}

.deactivated,
.error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $size-small;
    padding: $size-small $size-medium;
    border-radius: $size-small;
    border: 1px solid $color_pink_25;
    background-color: $color_pink_10;
    font-weight: bold;
    font-size: 0.875rem;
    color: $color_pink_50;
    width: fit-content;
}

img {
    width: 100%;
    max-width: 100%;
}

.hr-actions {
    height: $size-extra-small;
    width: 20%;
    border-radius: $size-medium;
    background-color: $color_black_10;
    margin: 0 auto;
}
