#hub-message {
  margin: 16px 0 0 0;
  width: 100vw;
  padding: 0 0 56px 0;
  h1 {
    font-weight: 600;
    font-size: 22px;
    margin: 0 24px 24px 24px;
  }
  position: relative;
  .rce-container-citem {
    width: 100%;
    padding: 16px 24px;
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      width: calc(100% - 48px);
      right: 24px;
      bottom: 0;
      background-color: var(--color-black-25);
    }
    &::after {
      content: '';
      width: 21px;
      height: 21px;
      display: block;
      position: absolute;
      right: 24px;
      top: 13px;
      background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="%23000000" viewBox="0 0 256 256"><path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"/></svg>');
      background-size: contain;
      opacity: 0.4;
    }
    .rce-citem {
      display: flex;
      gap: 12px;
      .rce-citem-avatar {
        .rce-avatar-container {
          img {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
      .rce-citem-body {
        max-width: 65%;
        .rce-citem-body--top {
          max-width: 85%;
          .rce-citem-body--top-title {
            font-weight: 600;
            font-size: 18px;
            margin: 0 0 8px 0;
          }
          .rce-citem-body--top-time {
            position: absolute;
            right: 49px;
            font-size: 12px;
            top: 18px;
            max-width: 30%;
            color: var(--color-black-25);
            font-weight: 500;
            text-transform: uppercase;
          }
        }
        .rce-citem-body--bottom {
          .rce-citem-body--bottom-title {
            opacity: 0.6;
            font-size: 14px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 3em;
            line-height: normal;
          }
          .rce-citem-body--bottom-status {
            span {
              position: absolute;
              top: 8px;
              left: 21px;
              height: 21px;
              color: #fff;
              display: flex;
              width: 21px;
              background: var(--color-pink-light);
              border-radius: 50%;
              line-height: normal;
              font-size: 10px;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
